/* This is a style sheet */

.k8em0 {
	background-image: url(k8em0.jpg);
	width:600px; 
	height:600px; 
}

@media screen and (min-width: 1200px) {
	.k8em0 {
		background-position: 0px 0px;
	}
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
	.k8em0 {
		background-position: 600px 0px;
	}
}

@media screen and (min-width: 600px) and (max-width: 900px) {
	.k8em0 {
		background-position: 0px -600px;
	}
}

@media screen and (max-width: 600px) {
	.k8em0 {
		background-position: 600px 600px;
	}
}